.env
__CONTENT/

# mac junk
.DS_Store

### BLENDER ###
# Created by https://www.toptal.com/developers/gitignore/api/blender
# Edit at https://www.toptal.com/developers/gitignore?templates=blender

### Blender ###
# Ignore temporary Blender files.
*.blend[0-9]*
blender/output/
blender/v2/output

# End of https://www.toptal.com/developers/gitignore/api/blender

### KiCad ###
# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
\#auto_saved_files\#
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

### KiCad Patch ###
rescue-backup/

*.tsv
bom/

# Gerber export output
out/
_gerber/
_gerber.zip

# End of https://www.toptal.com/developers/gitignore/api/kicad
