<html>
  <head>
  </head>
  <body>
    <h2>upload:</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <select name="bank">
        {% for bank in banks %}
	  <option value={{loop.index}}>{{loop.index}}</option>
        {% endfor %}
        </select>
      <input type="submit" value="Upload" />
    </form>
    <h2>banks:</h2>
    {% for bank in banks %}
      <h4>bank {{loop.index}}</h4>
      <table>
        {% for file in bank %}
          <tr>
            <td>
              <p>{{ file }}</p>
            </td>
            <td>
              <form method="post" action="/delete" enctype="multipart/form-data">
		  <input type="hidden" name="file" value="{{file}}" />
                  <input type=submit name=delete value=delete />
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endfor %}
  </body>
</html>
